h4
{
	color: red;
}

div.main
{
	border: 1px solid black;
	padding: 5px;
	background-color: #ddd;
}

form
{
	border: 1px groove gray;
	background-color: #eee;
	padding: 5px;
}

table table
{
	background-color: #fff;
	padding: 5px;
	border: 1px groove gray;
}

table table th
{
	text-decoration: underline;
}